version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file: 
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  dbgate:
    image: dbgate/dbgate
    restart: always
    env_file:
      - .env
    ports:
      - "${DBGATE_PORT}:3000"
    depends_on:
      - postgres

volumes:
  postgres_data:
